<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="row" formGroupName="deliveryForm">
        <div class="col-6 form-group" *ngFor="let m of deliveryMethods">
            <input type="radio"
             class="form-check-input"
             value="{{m.id}}"
             id="{{m.id}}"
             formControlName="deliveryMethod"
             (click)="setShippingPrice(m)">
            <label for="{{m.id}}" class="ms-2 mb-3">
                <strong>{{m.shortName}} - {{m.price | currency}}</strong>
                <br>
                <span class="label-description">{{m.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button class="btn btn-primary" cdkStepperNext [disabled]="checkoutForm?.get('deliveryForm')?.invalid">
        Go to review <i class="fa fa-angle-right"></i>
    </button>
</div>