<div>
    <carousel [isAnimated]="true">
        <slide>
            <img src="assets/images/hero8.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero3.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero6.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero7.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero1.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
    </carousel>
    <div class="featured d-flex align-items-center justify-content-center">
        <div class="text-center col-6">
            <div>
                <h1>Welcome to Kowjako-Commerce!</h1>
                <p>A tall and wide, orange skinned woman with deep, green eyes, angled lips, hollow cheeks and an oval
                    face.
                    She has wavy, light brown hair, has long eyelashes, wears a subtle foundation, has an artistic
                    tattoo
                    across her entire left thigh, and she has a burn mark on her right foot. She is sleeping.</p>
            </div>
            <div>
                <button class="btn btn-info px-5" routerLink="/shop">Let's shop!</button>
            </div>
        </div>
    </div>
</div>