<div class="container mt-1">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p>There are no items in your basket</p>
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container">
            <div class="row">
                <app-basket-summary (addItem)="incrementQuantity($event)"
                (removeItem)="decrementQuantity($event)"></app-basket-summary>
            </div>
            <div class="row">
                <div class="container justify-content-center">
                    <div class="row">
                        <app-order-totals></app-order-totals>
                    </div>
                    <div class="d-grid mb-4 mx-2">
                        <a routerLink="/checkout" class="btn btn-primary">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>